<div class="visits">
  <h1>Visits</h1>

  <div class="summary">
    <p>Total Visits: <span><%= @total_visits %></span></p>
  </div>

  <%= bar_chart @by_page2, xtitle: "URL", ytitle: "Number of Visits" %>

  <%= line_chart @by_date, xtitle: "Date", ytitle: "Number of Visits", curve: false %>

</div>