<% content_for :title, "About Us" %>

<div class="prose mx-auto mt-8 text-gray-800">
  <h1 class="text-2xl font-bold">About Hello Visitor</h1>
  <p class="mt-4">
    Welcome to <span class="font-semibold">Hello Visitor</span>, your free and privacy-focused analytics solution. We believe in offering simple, effective tools without compromising your visitors' privacy. Our approach is straightforward—no cookies, no creepy tracking, just clean and accurate visit records.
  </p>
  <p class="mt-4">
    Designed with static sites in mind, Hello Visitor provides powerful backend services such as analytics and search, leveraging the robust capabilities of PostgreSQL full-text search. Whether you're running a personal blog or a professional portfolio, our tools are here to support you in understanding your audience without invading their privacy.
  </p>
  <p class="mt-4">
    Thank you for choosing Hello Visitor. Together, we can make the web a more transparent and privacy-conscious space.
  </p>
</div>
